@font-face{
    font-family: bebas;
    src:url(Bebas-Regular.otf);
}

body{
    background: #0F2027; 
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
}

header{
    padding: 0em;
    text-align: center;
}

header h1{
    color: white;
    font-family: bebas;
    font-size: 3em;
    text-shadow: 1px 1px white;
}

header h3{
    margin-top: -1em;
    color : whitesmoke;
    font-family: bebas;
    font-size: 2em;
}

#products{
    margin-top: 5em;
    justify-content: center;
    display: flex;
    width: 100%;
    margin : 0 auto;
}

.product-card{
    display:inline-table;
    height: auto;
    width: 15%;
    background-color: rgba(112, 128, 144,0.5);
    text-align: center;
    padding: 1em;
}

.product-card:hover{
    background-color: rgba(112, 128, 144,1);
}

.product-image{
    display:table-row; 
    width:auto;
    height:20em;
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
    margin-bottom: -0.23em;
}

.product-title{
    font-family: bebas;
    color: white;

    height: auto;
    max-height: 100%;
}

.product-price{
    font-family: bebas;
}

.title-section{
    display:table-row; 
    background-color: black;
    height: 100%;
}